PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres.cusrqrzuoyyagiwfuycv:A.98022.xA98@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=require

JWT_SECRET=A.98022.xA.98022.xA.98022.x
JWT_EXPIRES_IN=12h

SEED_OWNER_NAME=Owner
SEED_OWNER_PHONE=998976330330
SEED_OWNER_PASSWORD=admin123
SEED_LOCATION_NAME=Asosiy do'kon
SEED_WAREHOUSE_NAME=Ombor